/*entire page formatting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* header style*/
.header1{
    border:1px solid #BE1622 ;
    background-color: #BE1622;
    display: block;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    padding: 10px;
    width:100%;
}
/*menu navigation links formatting */
.menu{
    margin-left: 700px;
    margin-top: -30px;
}
.menu ul{

    display: inline;
    list-style-type: none;
    padding: 0em;
    margin: 0em;


}
/* shop name formatting*/
.title{
    margin-left: 300px;
    margin-top: -30px;
    color: #C7CBDA;
}
.menu li {
    display: inline-block;
    padding: 4px 4px;
    margin: 4px 4px;
}
.menu li a {
    text-decoration: none;
    color:#A4D3F2;

}
/* adding a hover to the links*/
.menu li a:hover {
    background-color: #F2BE1A;
}
/* uclan logo */
.logo{
    margin-left: 50px;

}
/*titles on top of videos */
#h2{
    color: #F2BE1A;
    margin-top: 20px;
}
#h22{
    color: #F2BE1A;
    margin-top: 20px;
}
/* uclan moto (where opportunity creates success*/
#h1{
    font-size: 3em;
}
/* all h1, h2, videos formatting*/
.main{
    margin-left: 150px;
    margin-top: 50px;
    align-items: center;

}
/* footer formatting https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
.footer1{
    position: sticky;
    display:block;
    color: white;
    border:1px solid #34516C ;
    background-color:  #34516C;
    justify-content: space-around;
    height: 220px;
    width:100%;
}
/*three grids on footer */
.grid1{
    margin-left: 50px;
    margin-top: 50px;
}
.grid2{
    margin-left: 300px;
    margin-top: -60px;
}
.grid3{
    margin-left: 600px;
    margin-top: -60px;

}
/* product page image width*/
.products img{
   width: 300px;
}
/* product page description formatting*/
#description{
    width: 500px;
    margin-left: 500px;
}
#button{
    width: 500px;
}
#hoodies img{
    width: 300px;
}


/* the code was adopted by:https://www.w3schools.com/html/html_responsive.asp */
@media screen and (max-width: 800px) {
    menu ul {
        position: absolute;
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}